
body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  background-color: #191924;
  color: rgb(255, 255, 255);
}

.login_page{
  width: 100%;
  min-height: 100vh;
  background-color : #ffffff;
  overflow: hidden;
}

.logo_and_name{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  position: relative;
  bottom: 30px;
}
.login_bg_containter{
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
}
.login_bg{
  background-color: #32009f;
  width: 90%;
  height: 750px;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.logo{
  scale: 0.4;
}
.sadeem{
  scale: 1.5;
  margin-bottom: 50px;
  position: relative;
  bottom: 40px;
  color: #ffffff;
}
.login_button_container{

  position: relative;
  bottom: 60px;
  display: flex;
  justify-content: center;
}
.login_button{
  scale: 4.5;
  cursor: pointer;
  width: auto;
  background-color: #150045;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: xx-small;
  transition: all ease 0.4s;
}
.login_button:hover{
  background-color: #ffffff;
  color: #32009f;
}






.outer{
display: flex;
flex-direction: column;
width: 100%;
min-height: 90vh;
justify-content: flex-start;
border: 2px solid rgb(255, 255, 255);
border-radius: 30px;
overflow-x: hidden;
}
.detailsDiv{
display: flex;
justify-content: space-evenly;
overflow: hidden;
height: 60px;
border-bottom: 2px solid rgb(255, 255, 255);
color: #a896ff;
}
.name{
  margin-left: 15px;
  margin-top: 0px;
  padding-top: 20px;
  border-right: 2px solid rgb(255, 255, 255);
  height: 100px;
  width: 85%;
}
.date{
  margin-left: 15px;
  margin-top: 0px;
  padding-top: 20px;
  height: 100px;
  width: 15%;
  overflow-x: hidden;
}
.dataList{
  height: auto;
  display: flex;
  flex-direction: column;
}
.dataCard{
  height: auto;
  width: 100%;
  border-bottom: 1px solid rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
}
.card_name_div{
  display: flex;
  justify-content: start;
  max-width: 40px;
  padding-right: 50px;
  border-right: 1px double rgb(255, 255, 255);
  color: #a896ff;
  font-size: medium;
}
.card_details{
  max-width: 40px;
}
.card_functions{
  height: 100%;
  width: 10%;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
.func_buttons{
border: none;
background-color: #19192400;
color: white;
}