
body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  background-color: #191924;
  color: rgb(255, 255, 255);
}

:root{
 --main-color : #4c00ff;
 --secondary-color : #32009f;

}
.login_page{
  width: 100%;
  min-height: 100vh;
  background-color : #ffffff;
  overflow: hidden;
}

.logo_and_name{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  position: relative;
  bottom: 30px;
}
.login_bg_containter{
  display: flex;
  justify-content: center;
  width: 100%;
}
.login_bg{
  background-color: #32009f;
  width: 90%;
  height: 750px;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.logo{
  height: 350px;
  scale: 0.5;
}
.sadeem{
  scale: 1.5;
  position: relative;
  bottom: 40px;
  color: #ffffff;
}
.login_button_container{
  display: flex;
  justify-content: center;
}
.login_button{
  height: 80px;
  width: 300px;
  padding: 10px;
  cursor: pointer;
  background-color: #150045;
  border: 3px solid rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 15px;
  color: white;
  font-size: 30px;

  transition: all ease 0.4s;
}
.login_button:hover{
  background-color: #ffffff;
  color: #32009f;
  border: 1px solid #32009f;

}





.username{
  margin-left: 20px;
}
.outer{
display: flex;
flex-direction: column;
width: 100%;
min-height: 85vh;
justify-content: flex-start;
border: 2px solid rgb(255, 255, 255);
border-radius: 30px;
overflow-x: hidden;
}
.home_container{
overflow: hidden;
}
.upper_tools{
  scale: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  right: 100px;
  bottom: 100px;
  width: 100px;
  
}
.create_data_btn ,.logout{
  transition: all ease 0.3s;
  border: none;
  color: white;
  border-radius: 15px;
  background-color: var(--main-color);
  cursor: pointer;
}
.create_data_btn:hover ,.logout:hover{
  background-color: white;
  color: var(--main-color)
}
.detailsDiv{
display: flex;
justify-content: space-evenly;
overflow: hidden;
height: 60px;
border-bottom: 2px solid white;
color: #ffffff;
}
.name{
  margin-top: 0px;
  padding: 15px 0 0 15px;
  border-right: 2px solid white;
  height: 100px;
  width: 85%;
}
.date{
  margin-left: 15px;
  margin-top: 0px;
  padding-top: 20px;
  height: 100px;
  width: 15%;
  overflow-x: hidden;
}
.dataList{
  height: auto;
  display: flex;
  flex-direction: column;
}
.dataCard{
  height: auto;
  width: 100%;
  border-bottom: 1px solid white;
  display: grid;
  grid-template-columns: 0.3fr 1fr auto;
  overflow: hidden;
}
.card_name_div{
  padding: 0 0 0 15px;
  border-right: 1px double white;

}
.card_details{
  font-size: medium;
  border-right: 1px double white;
  padding: 20px 0 0 15px;
  margin: 0;
}
.copy_btn{
  transition: all ease 0.3s;
  padding: 20px 10px 0 10px;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  font-weight: bolder;
}
.copy_btn:hover{
  background-color: white;
  color: var(--main-color);
}
